{% extends 'LocalShopApp/main.html' %}
{% load static %}
{% block content %}
	<form method="get" action="{% url 'localshop' %}">
		<div class="form-row">
			<div class="col">
				<input type="text" name="q" class="form-control" placeholder="Search products...">
			</div>
			<div class="col">
				<select name="category" class="form-control">
					<option value="">All Categories</option>
					<option value="Phone">Phone</option>
					<option value="Audio">Audio</option>
					<option value="Accessory">Accessory</option>
					<option value="Wearable">Wearable</option>
				</select>
			</div>
			<div class="col">
				<input type="number" name="min_price" class="form-control" placeholder="Min Price">
			</div>
			<div class="col">
				<input type="number" name="max_price" class="form-control" placeholder="Max Price">
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">Filter</button>
			</div>
		</div>
	</form>

	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}

